/* @media (hover: hover) and (pointer: fine) {
  g.park-4:hover > .park-4 {
    filter: saturate(3);
  }
  
  g.shops-4:hover > .shops-4 {
    filter: saturate(3);
  }
  
  g.offices-4:hover > .offices-4 {
    filter: saturate(4);
  }
  
  g.club:hover > .club {
    filter: saturate(4);
  }
  
  g.bar:hover > .bar {
    filter: saturate(3);
  }
  
  g.apartments-4:hover > .apartments-4 {
    filter: saturate(2);
  }
} */