/* @media (hover: hover) and (pointer: fine) {
  .restaurant:hover {
    filter: saturate(3);
  }
  
  g.swimming-pool:hover > .swimming-pool {
    filter: saturate(3);
  }
  
  g.relax-zone:hover > .relax-zone {
    filter: saturate(3);
  }
  
  g.beer:hover > .beer {
    filter: saturate(3);
  }
  
  g.bathhouse:hover > .bathhouse {
    filter: saturate(3);
  }
  
  g.slides:hover > .slides {
    filter: saturate(3);
  }
} */