/* @media (hover: hover) and (pointer: fine) {
  g.offices-2:hover > .offices-2 {
    filter: saturate(3);
  }
  
  g.wellness:hover > .wellness {
    filter: saturate(3);
  }
  
  g.mud-baths:hover > .mud-baths {
    filter: saturate(3);
  }
  
  g.spa:hover > .spa {
    filter: saturate(3);
  }
} */