/* @media (hover: hover) and (pointer: fine) {
  g.park-3:hover > .park-3 {
    filter: saturate(3);
  }
  
  g.shops-3:hover > .shops-3 {
    filter: saturate(3);
  }
  
  g.offices-3:hover > .offices-3 {
    filter: saturate(4);
  }
  
  g.bar:hover > .bar {
    filter: saturate(3);
  }
  
  g.apartments-3:hover > .apartments-3 {
    filter: saturate(2);
  }
} */