.popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 3vw;
  bottom: 50%;
  transform: translateY(50%);
  max-width: 300px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  border: solid 1px #1866A6;
  overflow: hidden;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.popup_hidden {
  opacity: 0;
  pointer-events: none;
  /* right: calc(-300px); */
}

.popup__info {
  flex: 1 1 60%;
  align-self: center;
  width: 100%;
  padding: 20px;
}

.popup__p {
  font-size: 21px;
  line-height: 112%;
  font-weight: 100;
  margin-bottom: 10px;
}

.popup__p > span {
  font-weight: 400;
  margin-bottom: 20px;
}

.popup__button {
  text-align: center;
  display: block;
  width: 150px;
  font-size: 21px;
  padding: 12px;
  background-color: #1866A6;
  line-height: 112%;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: 100;
  margin: 5px auto 0;
  pointer-events: auto;
}

.popup__img {
  flex: 1 1 40%;
}

.popup__img > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 5 / 3;
  object-fit: cover;
  border-bottom: solid 1px #1866A6;
}

.popup__close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  text-shadow: 10px;
}